<div *ngFor="let item of questions;let idx = index" >
    <h1>Question:</h1>
    <p class="post clickable"
    [routerLink]="['/detail-question',item.id]">{{item.contenue}}</p>

    <div *ngFor="let h of item.hashtag">
        <a style="color: blue;font-weight: bold;" href="#">#{{h.technologie}}</a>
    </div>

    <p class="author">Posted by:{{ item?.user?.firstName}}</p>

    <span class="material-symbols-outlined clickable" (click)="addlike(item)">
        shift_lock
    </span>
    <a style="color:#888">{{nbrlike[idx]}}</a>
    <a style="margin: 10px;color: #ADD8E6;">Réponses:</a>
    <a style="color:#888" *ngIf="item?.reponses?.length==null">0</a>
    <a style="color:#888">{{item?.reponses?.length}}</a>
    <div class="custom-button-container">
        <button type="button" *ngIf="currentUser == item?.user?.id" style="margin: 15px;" class="btn btn-primary btn-sm"
            (click)="toggleContentquest()">modifier</button>
        <button type="button" *ngIf="currentUser == item?.user?.id" class="btn btn-primary btn-sm"
            (click)="supprimer(item)">supprimer</button>
    </div>
    <!-- modifie quest -->
    <div class="container" *ngIf="showmodifquest">
        <div class="post">
            <form [formGroup]="questformmodif">
                <div>
                    <div class="form-group">
                        <label for="comment">Question:</label>
                        <textarea class="form-control" rows="5" id="comment" formControlName="contenue"></textarea>
                        <mat-form-field>
                            <mat-label>Toppings</mat-label>
                            <mat-select multiple formControlName="tech">
                                <mat-option *ngFor="let c of tech | keyvalue" [value]="c.key">{{ c.value }}</mat-option>
                                <!-- <mat-option *ngFor="let a of item?.tech | keyvalue" [value]="a.key" selected>{{ a.value }}</mat-option> -->
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="custom-button-container">
                        <button type="button" class="btn btn-primary btn-sm" style="margin: 15px;"
                            (click)="modifier(item);">save</button>
                        <button type="button" class="btn btn-primary btn-sm"
                            (click)="toggleContentquest()">annuler</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>